const lightChart = new Chart(
document.getElementById("lightChart"),
{
    type:"line",
    data:{
        datasets:[{
            label:"Luminosité",
            data:lightData,
            borderColor:"rgb(255,206,86)",
            backgroundColor:"rgba(255,206,86,.1)",
            tension:.3
        }]
    },
    options:{
        responsive:true,
        maintainAspectRatio:false,
        scales:{
            x:{
                type:"time"
            },
            y:{
                title:{
                    display:true,
                    text:"lux"
                }
            }
        }
    }
}
)

setInterval(()=>{

fetch(
`index.php?section=light&range=${range}&format=json`
)

.then(r=>r.json())

.then(data=>{

lightChart.data.datasets[0].data =
data.light

lightChart.update()

})

},15000)