main {
	flex-direction: row;
	justify-content: space-around;
	gap: 0;

	width: 100vw;
}

div h1 {
	font-size: 1.5rem;
}

.btn {
	color: var(--fg-color);
	text-decoration: none;

	cursor: pointer;
	user-select: none;
}

.btn:hover {
	color: var(--link-color);
	border-color: var(--link-color);
}

.btn:hover div > * {
	color: var(--fg-color);
	border-color: var(--fg-color);
}

.ctn {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	border: 1px solid var(--fg-color);
	border-radius: 1rem;

	padding: 1rem;
	width: fit-content;
}

.alerts-container {
	width: 30%;
}

.sensors-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 60%;
}

.summary-wrapper {
	display: flex;
	gap: 1rem;
}