<div class="sensors-container">
	<a class="btn ctn" href="index.php?section=air">
		<h1>Qualité de l'air ambient</h1>
		<div class="summary-wrapper">
			<div id="sectionCO2" class="ctn air-section-container">
				<h1>CO2</h1>
				<p class="value"></p>
				<progress value="0" max="800"></progress>
				<p class="evolution"></p>
				<div class="status-container">
					<p class="status-icon">●</p>
					<p class="status"></p>
				</div>
			</div>
			<div id="sectionCH4" class="ctn air-section-container">
				<h1>CH4</h1>
				<p class="value"></p>
				<progress value="0" max="300"></progress>
				<p class="evolution"></p>
				<div class="status-container">
					<p class="status-icon">●</p>
					<p class="status"></p>
				</div>
			</div>
			<div id="sectionVOC" class="ctn air-section-container">
				<h1>VOC</h1>
				<p class="value"></p>
				<progress value="0" max="100"></progress>
				<p class="evolution"></p>
				<div class="status-container">
					<p class="status-icon">●</p>
					<p class="status"></p>
				</div>
			</div>
		</div>
	</a>
	<a class="btn ctn" href="index.php?section=environment">
		<h1>Environment</h1>
		<div id="envWrapper" class="summary-wrapper">
			<div id="sectionLight"
			     class="btn ctn air-section-container">
				<h1>Luminosité</h1>
				<p class="value"></p>
				<progress value="0" max="1023"></progress>
				<p class="evolution"></p>
				<div class="status-container">
					<p class="status-icon">●</p>
					<p class="status"></p>
				</div>
			</div>
			<div id="sectionSound"
			     class="btn ctn air-section-container">
				<h1>Niveau sonore</h1>
				<p class="value"></p>
				<progress value="0" max="50"></progress>
				<p class="evolution"></p>
				<div class="status-container">
					<p class="status-icon">●</p>
					<p class="status"></p>
				</div>
			</div>
			<div id="sectionTemp" class="ctn air-section-container">
				<h1>Température</h1>
				<p class="value"></p>
				<progress value="0" max="50"></progress>
				<p class="evolution"></p>
				<div class="status-container">
					<p class="status-icon">●</p>
					<p class="status"></p>
				</div>
			</div>
			<div id="sectionHum" class="ctn air-section-container">
				<h1>Humidité</h1>
				<p class="value"></p>
				<progress value="0" max="100"></progress>
				<p class="evolution"></p>
				<div class="status-container">
					<p class="status-icon">●</p>
					<p class="status"></p>
				</div>
			</div>
		</div>
	</a>
</div>